#navbar {
  background-color: #0c1222 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
#navbarToggler {
  border: none;
}
#nabvarLinksId {
  color: rgba(255, 255, 255, 0.788) !important;
}

.navbar-nav .nav-item:hover {
  background-color: #1f2937;
  border-radius: 5px;
}
ul li {
  margin-right: 20px;
}
ul li .nav-link {
  padding-left: 10px;
}

.portfolioIcon img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
